<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sidebar | Invoice App</title>
  <link rel="stylesheet" href="../../assets/img/icomoon/style.css">
  <link rel="stylesheet" href="../../assets/css/normalize.css">
  <link rel="stylesheet" href="../../assets/css/reset.css">
  <link rel="stylesheet" href="../../assets/css/variables.css">
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="./sidebar.css">
</head>
<body>
  <aside class="sidebar">
    <a class="logo" href="./index.html">
      <img src="../../assets/img/logo.svg" alt="Logo ">

    </a>
    <div class="">
      <div class="theme-toggle-box">
        <i class="icon-moon" id="theme-toggler"></i>
      </div>
      <hr class="line">
      <div class="profile-picture-box"><img class="profile-picture" src="../../assets/img/profile-picture.svg" alt="profile picture" width="40" height="40"></div>
    </div>
  </aside>
  <script src="../../js/theme-toggle.js"></script>
</body>
</html>