:root{
  --primary-color: #7C5DFA;
  --hover-primary-color: #9277FF;
  --warning: #EC5757;
  --paid: #33D69F;
  --pending-color: #FF8F00;

  --text-color: #0C0E16;
  --secondary-text-color: #0C0E16;
  --subtext-color: #888EB0;
  --aside-bg-color:  #141625;
  --main-bg-color: #F8F8FB;
  --secondary-bg-color: ##FFF;
  --modal-bg-color:#fff;
  --input-bg-color: #fff;
  --border-color: #DFE3FA;

}
.dark-theme{
  --text-color: #fff;
  --secondary-text-color: #fff;
  --subtext-color: #DFE3FA;
  --main-bg-color: #141625;
  --secondary-bg-color: #1E2139 ;
  --aside-bg-color:  #1E2139;
  --modal-bg-color:#141625;
  --input-bg-color: #1E2139;
  --border-color: #252945;

}