@import url(../../../assets/css/normalize.css);
.main{
  max-width: 1440px;
}

.main-modal {
  height: 100vh;
   z-index: 55;
   background-color: var(--modal-bg-color);
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   /* overflow-x: hidden; */
   overflow-y: scroll;
   z-index: 10;
   position: absolute;
   top: 0;
   left: 100px;
}

.main-modal .modal-title {
  position: fixed;
  top: 0;
  left: 100px;
  width: 600px;
  padding: 59px 56px 24px ;
  z-index: 1;
  background: var(--modal-bg-color);
}
.payment-terms-wrapper {
   display: flex;
   flex-direction: column;
}
.btn.btn-add-item {
   margin-top: 18px;
   width: 100%;
}

.icon-delete-icon{
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.icon-delete-icon:active{
  transform: scale(0.95);
}
.icon-delete-icon:hover{
background-color: red;
border-radius: 5px;
}

.buttons-wrapper {
  border: 1px  solid red;
  background-color: var(--modal-bg-color);
  display: flex;
  gap: 140px;
  position: fixed;
  bottom: 0;
  padding: 31px 56px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.buttons-wrapper::before {
  display: none;
   content: "";
   position: fixed;
   top: 0;
   left:0;
   transform: translateY(-100%);
   width: 600px;
   height: 80px;
   flex-shrink: 0;
   background:var(--modal-scroll-bg-color);
   z-index: -5;
}
.buttons-wrapper.active::before{
  display: block;
}
.buttons-wrapper div {
   display: flex;
   gap: 8px;
}
