<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form | Invoice</title>
  <link rel="stylesheet" href="../../../assets/css/reset.css">
  <link rel="stylesheet" href="../../../assets/css/normalize.css">
  <link rel="stylesheet" href="../../../assets/css/variables.css">
  <link rel="stylesheet" href="../../../assets/img/icomoon/style.css">
  <link rel="stylesheet" href="../../../assets/css/style.css">
  <link rel="stylesheet" href="input.css">
</head>
<body>
  <i class="icon-moon"  id="theme-toggler"></i>
<form class="form">
  <h2 class="action-title">New Invoice</h2>
  <h3 class="bill-type">Bill From</h3>

  <div class="form-group">
    <label class="label"  for="sellers-street">Street Address</label>
    <input type="text" name="sellers-street" id="sellers-street" placeholder="19 Union Terrace">
    <span class="error-message">can’t be empty</span>
  </div>

  <div class="justify-between">
    <div class="form-group">
      <label class="label" for="sellers-city">City</label>
      <input type="text" name="sellers-city" id="sellers-city" placeholder="London">
        <span class="error-message">can’t be empty</span>
    </div>
    <div class="form-group">
      <label class="label" for="sellers-post-code">Post Code</label>
      <input type="text" name="sellers-post-code" id="sellers-post-code" placeholder="E1 3EZ">
        <span class="error-message">can’t be empty</span>
    </div>
    <div class="form-group">
      <label class="label" for="sellers-country">Country</label>
      <input type="text" name="sellers-country" id="sellers-country" placeholder="United Kingdom">
        <span class="error-message">can’t be empty</span>
    </div>
  </div>

  <h3 class="bill-type">Bill to</h3>
  <div class="form-group">
    <label class="label" for="clients-f-name">Client’s Name</label>
    <input type="text" name="clients-f-name" id="clients-f-name" placeholder="Alex Grim">
      <span class="error-message">can’t be empty</span>
  </div>

  <div class="form-group">
    <label class="label" for="clients-email">Client’s Email</label>
    <input type="email" name="clients-email" id="clients-email" placeholder="alexgrim@mail.com">
      <span class="error-message">can’t be empty</span>
  </div>

  <div class="form-group">
    <label class="label"  for="clients-street">Street Address</label>
    <input type="text" name="clients-street" id="clients-street" placeholder="19 Union Terrace">
    <span class="error-message">can’t be empty</span>
  </div>

  <div class="justify-between">
    <div class="form-group">
      <label class="label" for="clients-city">City</label>
      <input type="text" name="clients-city" id="clients-city" placeholder="Bradford">
        <span class="error-message">can’t be empty</span>
    </div>
    <div class="form-group">
      <label class="label" for="clients-post-code">Post Code</label>
      <input type="text" name="clients-post-code" id="clients-post-code" placeholder="BD1 9PB">
        <span class="error-message">can’t be empty</span>
    </div>
    <div class="form-group">
      <label class="label" for="clients-country">Country</label>
      <input type="text" name="clients-country" id="clients-country" placeholder="United Kingdom">
        <span class="error-message">can’t be empty</span>
    </div>
  </div>

<div class="justify-between">

    <div class="form-group">
      <label class="label" for="date">Issue Date</label>
      <input type="date" name="date" id="date">
        <span class="error-message">can’t be empty</span>
    </div>

    <div class="form-group">
      <label class="label" for="terms"  class="payment-terms">Payment Terms
      <select name="terms" id="terms">
        <option value="" selected>Next 1 Day</option>
        <option value="" >Next 7 Day</option>
        <option value="" >Next 14 Day</option>
        <option value="" >Next 30 Day</option>
      </select>
        </label>
    </div>
</div>


  <div class="form-group">
    <label class="label" for="description">Project Description</label>
    <input type="text" name="description" id="description" placeholder="Graphic Design">
      <span class="error-message">can’t be empty</span>
  </div>
  <h2 class="margin-bottom-14 items-list__title">Item List</h2>
    <ul class="items-list">
      <li class="item">
        <span >
          <input type="text" name="items-name" id="items-name" placeholder="Banner Design">
          <span class="error-message">can’t be empty</span>
        </span>
        <span >
          <input type="number" name="quantity" id="quantity" min="1" placeholder="1">
            <spxan class="error-message">can’t be empty</spxan  an>
        </span>
        <span >
          <input type="text" name="price" id="price" placeholder="156.00">
            <span class="error-message">can’t be empty</span>
        </span>
        <span class="items-total-price">
          <span class="items-total-price__number">15500</span>
          <i class="icon-delete-icon"></i>
        </span>
      </li>

      <li class="item ">
        <span class="">
          <input type="text" name="items-name" id="items-name" placeholder="Banner Design">
          <span class="error-message">can’t be empty</span>
        </span>
        <span class="">
          <input type="number" name="quantity" id="quantity" min="1" placeholder="1">
            <spxan class="error-message">can’t be empty</spxan  an>
        </span>
        <span class="">
          <input type="text" name="price" id="price" placeholder="156.00">
            <span class="error-message">can’t be empty</span>
        </span>
        <span class="items-total-price">
          <span class="items-total-price__number">15500</span>
          <i class="icon-delete-icon"></i>
        </span>
      </li>
      <li class="item ">
        <span class="">
          <input type="text" name="items-name" id="items-name" placeholder="Banner Design">
          <span class="error-message">can’t be empty</span>
        </span>
        <span class="">
          <input type="number" name="quantity" id="quantity" min="1" placeholder="1">
            <spxan class="error-message">can’t be empty</spxan  an>
        </span>
        <span class="">
          <input type="text" name="price" id="price" placeholder="156.00">
            <span class="error-message">can’t be empty</span>
        </span>
        <span class="items-total-price">
          <span class="items-total-price__number">15500</span>
          <i class="icon-delete-icon"></i>
        </span>
      </li>
    </ul>



<br>
<span class="warning-message">
  - All fields must be added
<br>
  - An item must be added
</span>
<button role="button"> Cancel </button>
<button role="button"> Save Changes </button>
</form>

<script>
const themeToggler = document.getElementById("theme-toggler");

themeToggler.addEventListener("click", ()=>{
  setTimeout(toggleTheme,100)})

// Retrieve the theme from localStorage on page load
const savedTheme = localStorage.getItem("theme");

// Set initial theme based on localStorage or default to light theme
// document.body.classList.toggle("dark-theme", savedTheme === "dark");
if(savedTheme==="dark"){
  document.body.classList.toggle("dark-theme");
  themeToggler.src = "../../../assets/img/sun.svg";
}

function toggleTheme() {
  document.body.classList.toggle("dark-theme");

  // Save the current theme state to localStorage
  localStorage.setItem("theme", document.body.classList.contains("dark-theme") ? "dark" : "light");

  // Update theme toggler w image based on the new theme
  if (document.body.classList.contains("dark-theme")) {
    themeToggler.classList.add("icon-sun")
    themeToggler.classList.remove("icon-moon")

  } else {
    themeToggler.classList.remove("icon-sun")
    themeToggler.classList.add("icon-moon")
  }

}

</script>
</body>
</html>