@import url(../../../assets/css/normalize.css);

.form {
   max-width: 600px;
   width: 100%;
   height: transparent;
   background-color: var(--modal-bg-color);
   position: relative;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
  padding:120px 50px 150px;


}
.modal-title {
   color: var(--text-color);
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 32px;
   letter-spacing: -0.5px;
   /* margin-bottom: 46px; */
}
.bill-type {
   color: var(--01, #7c5dfa);
   font-size: 15px;
   font-style: normal;
   font-weight: 700;
   line-height: 15px;
   letter-spacing: -0.25px;
   margin-bottom: 24px;
}
.form-group {
   display: flex;
   flex-direction: column;
   row-gap: 9px;
   margin-bottom: 25px;
   position: relative;
   width:100%;
}
/* .form-group.flex{
  display: flex;
  flex-direction: row;
} */

.label {
   color: var(--subtext-color);
   font-size: 13px;
   font-style: normal;
   font-weight: 500;
   line-height: 15px;
   letter-spacing: -0.1px;
}
.input,
.select {
   outline: none;
   background-color: var(--input-bg-color);
   border: 1px solid var(--border-color);
   border-radius: 4px;
   color: var(--text-color);
   padding: 15px 10px 15px 20px;
   text-transform: capitalize;
   flex-shrink: 0;
   width: transparent;
}
.input:focus,
.select:focus {
   border-color: #7c5dfa;
}

/* .input.input-quantity {
   /* padding: 4px 5px;
} */

.error-message {
   display: none;
   position: absolute;
   right: 17px;
   top: 1px;
   color: var(--warning);
   font-size: 10px;
   font-style: normal;
   font-weight: 600;
   line-height: 15px; /* 150% */
   letter-spacing: -0.208px;
}
.warning-message {
   display: none;
   position: absolute;
   z-index: 10;
   left: 17px;
   bottom: 50px;
   color: var(--warning);
   font-size: 10px;
   font-style: normal;
   font-weight: 600;
   line-height: 15px;
   letter-spacing: -0.208px;
}
.error{
  border:1px solid red;
}
.input.error::before{
  /* display: none; */
  display: block;
  position: absolute;
  right: 17px;
  top: 1px;
  color: var(--warning);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 150% */
  letter-spacing: -0.208px;
}

.items-list__title {
   color: #777f98;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 32px;
   letter-spacing: -0.375px;
   margin-bottom: 44px;
}
.items-list {
  width: 100%;
   display: flex;
   flex-direction: column;
   gap: 18px;
}
.item {
   display: flex;
   /* display: grid; */
   /* grid-template-columns: 210px 60px 100px 210px; */
   /* grid-template-columns: 200 50px 1fr 1fr; */
   gap: 18px;
}
.item span {
   position: relative;
}
.item:nth-child(1) > span:nth-child(1)::before {
   content: "Item Name";
   position: absolute;
   top: -25px;
   left: 0;
   height: 100%;
   width: 100%;
   color: var(--subtitle-color);
   font-size: 13px;
   font-style: normal;
   font-weight: 500;
   letter-spacing: -0.1px;
}
.item:nth-child(1) > span:nth-child(2)::before {
   content: "Qty.";
   position: absolute;
   top: -25px;
   left: 0;
   height: 100%;
   width: 100%;
   color: var(--subtitle-color);
   font-size: 13px;
   font-style: normal;
   font-weight: 500;
   letter-spacing: -0.1px;
}
.item:nth-child(1) > span:nth-child(3)::before {
   content: "Price";
   position: absolute;
   top: -25px;
   left: 0;
   height: 100%;
   width: 100%;
   color: var(--subtitle-color);
   font-size: 13px;
   font-style: normal;
   font-weight: 500;
   letter-spacing: -0.1px;
}
.item:nth-child(1) > span:nth-child(4)::before {
   content: "Total";
   position: absolute;
   top: -25px;
   left: 0;
   height: 100%;
   width: 100%;
   color: var(--subtitle-color);
   font-size: 13px;
   font-style: normal;
   font-weight: 500;
   letter-spacing: -0.1px;
}

.item .error-message {
   position: absolute;
   right: 17px;
   top: -15px;
   color: var(--warning);
   font-family: "League Spartan";
   font-size: 10px;
   font-style: normal;
   font-weight: 600;
   line-height: 15px; /* 150% */
   letter-spacing: -0.208px;
}
.items-total-price-wrapper {
   display: flex;
   align-items: center;
   gap: 20px;
}
.items-total-price {
   color: var(--subtext-color);
   width:60px;
   overflow-x: auto;

}
